*{
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #cecccf   ;
}

form h3{
    text-align: center;
    margin-top: 70px;
    font-size: 23px;
    color: #333;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
form{
    width: 420px;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 10px;
    padding: 30px 40px;
}
.form-check label a{
    text-decoration: none;
    color: #333;
    margin-left: 80px;
}
.form-submit{
    text-align: center;
}
.hoi{
    text-align: center;
}
.form-name input{
    width: 400px;
    height: 40px;
    padding: 5px;
    outline: none;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 1px solid #333;
}
.form-pass input{
    width: 400px;
    height: 40px;
    padding: 5px;
    outline: none;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 1px solid #333;
}
.form-again input{
    width: 400px;
    height: 40px;
    padding: 5px;
    outline: none;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 1px solid #333;
}


.form-submit button {
    width: 9em;
    color: #333;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #5900ce 0%, #31275e 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.form-submit button:hover::before {
    width: 9em;
}
